.container {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
}

.leftContainer {
  width: 352px;
  text-align: center;
}

.leftContainer h4 {
  margin: 0;
  padding: 24px 0 16px 0;
  
}

.label {
  position: absolute;
  width: 266px;
  height: 20px;
  padding: 16px 16px 36px 68px;
}

.label p {
  margin: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.label p {
  margin: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #545563;
}

.adress i {
  color: rgba(131, 133, 156, 1);
  position: absolute;
  background: rgba(237, 238, 242, 1);
  border-radius: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  left: 16px;
  top: 16px;
  width: 40px;
  height: 40px;
}

.adress {
  margin-top: 12px;
  width: 350px;
  height: 72px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(237, 238, 242, 1);
  border-radius: 16px;
  cursor: pointer;
}

.rightContainer {
  margin-left: 30px;
  margin-top: 24px;
}

.box {
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 1);
  width: 740px;
  border: 1px solid rgba(237, 238, 242, 1);
  border-radius: 16px;
}


